#desktop-modal.modal.fade
  .modal-dialog
    .modal-content
      h4.modal-title Switch Desktop View
      .modal-body(style="padding:0")
        p You are seeing a mobile version of this website, do you want to switch to desktop view ?
        br/
        .row
          .col-12-xs.text-center
            a.btn.btn-success.btn-md(href="/pc") Yes
            !='&nbsp;&nbsp;&nbsp;'
            button.btn.btn-danger.btn-md(data-dismiss="modal") No
