footer#colophon.site-footer
  .footer-bottom
    .container
      .row
        .col-sm-8
          .site-quote
            p
              | &ldquo;Love is just a word until someone comes along and gives it meaning&rdquo; - 
              small Paul Coelho, Aleph
        .col-sm-4
          .site-quote.site-quote-survey
            p
              a(href='https://aditya176.typeform.com/to/dlw69O', target='_blank') Mau situs seperti ini? 
          //- .social-icons.footer-social-icons
          //-   ul.social-icons-list.text-right
              //- li
              //-   a(href='#', target='_blank')
              //-     i.fa.fa-facebook
              //- |                             
              //- li
              //-   a(href='#', target='_blank')
              //-     i.fa.fa-twitter
              //- |                             
              //- li
              //-   a(href='#', target='_blank')
              //-     i.fa.fa-instagram
              //- |                             
              //- li
              //-   a(href='#', target='_blank')
              //-     i.fa.fa-youtube
              //- |                             
              //- li
              //-   a(href='#', target='_blank')
                  i.fa.fa-google-plus
