footer#colophon.site-footer
  .footer-bottom
    .container
      .row
        .col-sm-8
          .site-quote
            p
              | &ldquo;Ideas are the beginning points of all fortunes&rdquo; - 
              small Napoleon Hill
        .col-sm-4
          .social-icons.footer-social-icons
            ul.social-icons-list.text-right
              li
                a(href='#', target='_blank')
                  i.fa.fa-facebook
              |                             
              li
                a(href='#', target='_blank')
                  i.fa.fa-twitter
              |                             
              li
                a(href='#', target='_blank')
                  i.fa.fa-instagram
              |                             
              li
                a(href='#', target='_blank')
                  i.fa.fa-youtube
              |                             
              li
                a(href='#', target='_blank')
                  i.fa.fa-google-plus
