
header#masthead.site-header
  .container
    .row
      .col-xs-12
        nav.navbar.navbar-default
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            .header-logo
              p.site-title
                a(href='/', rel='home') Amelia &amp; Aditya
          .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              //- li
                a(title='Story', href='/#wedding-bio') Bio
              li
                a(title='Story', href='/#story') PERJALANAN KAMI
              li
                a(title='Story', href='/#special-events') Tempat &amp; Acara
              //- li
                a(title='Story', href='/#gallery') Momen
              li
                a(title='Story', href='/#maps') Peta
              li
                a(title='Story', href='/#rsvp') Ucapan

//- .container
//-   ul.list-inline
//-     li
//-       a(href='/') Home
//-     li
//-       a(href='/contact') Contact
//-     ul.list-inline
//-       if user
//-         li
//-           if user.picture
//-             img.avatar(src=user.picture)
//-           else
//-             img.avatar(src=user.gravatar)
//-           | <span> #{user.name || user.email || user.id} </span>
//-         li
//-           a(href='/account') My Account
//-         li
//-           a(href='/logout') Logout
//-       else
//-         li
//-           a(href='/login') Log in
//-         li
//-           a(href='/signup') Sign up
