
#wedding-bio.section.section-wedding-bio
  .container
    .title-section-wrapper
      h2.title-section BIO
      p.text-section Waktu tak pernah memiliki kuasa atas cinta. Cinta adalah satu-satunya hal yang mampu melampaui ruang dan waktu. 
    .row.wedding-bio-wrapper
      .col-sm-6
        .wedding-bio-item.wedding-bio-item-bride
          figure.wedding-bio-image
            img.responsive-image(src='/img/about-item-img.jpg', alt='')
          .wedding-bio-content
            h2.heading.wedding-bio-title
              span AMELIA
              | ZAHRA
            .wedding-bio-text
              p Enerjik, pemalu, memiliki keinginan kuat bila sudah menyukai hal tertentu. Senang traveling, nonton film dan semua makanan manis. Di satu sisi bisa sangat pemalu di sisi lain bisa sangat berani.
      .col-sm-6
        .wedding-bio-item.wedding-bio-item-groom
          figure.wedding-bio-image
            img.responsive-image(src='/img/about-item-img2.jpg', alt='')
          .wedding-bio-content
            h2.heading.wedding-bio-title
              span ADITYA
              | KRESNA PERMANA
            .wedding-bio-text
              p Pendiam, introvert, lebih suka menyendiri dan menghabiskan sisa aktivitas dengan selingkuhan elektroniknya (baca: komputer). Selalu mencari cara efektif untuk menghindari ajakan shopping dan makan makanan manis.