
#wedding-bio.section.section-wedding-bio
  .container
    .title-section-wrapper
      h2.title-section She and He
      p.text-section Consectetur adipiscing elit. Inteiro odio urna, vestíbulo elementum magna vel erat sagittis
    .row.wedding-bio-wrapper
      .col-sm-6
        .wedding-bio-item.wedding-bio-item-bride
          figure.wedding-bio-image
            img.responsive-image(src='/img/about-item-img.jpg', alt='')
          .wedding-bio-content
            h2.heading.wedding-bio-title
              span AMELIA
              | ZAHRA
            .wedding-bio-text
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer odio urna, maximus bibendum pulvinar eu, molestie eu arcu. Vestibulum elementum magna vel erat sagittis egestas. Vestibulum aliquam, ex eu vulputate porta.
      .col-sm-6
        .wedding-bio-item.wedding-bio-item-groom
          figure.wedding-bio-image
            img.responsive-image(src='/img/about-item-img2.jpg', alt='')
          .wedding-bio-content
            h2.heading.wedding-bio-title
              span ADITYA
              | KRESNA PERMANA
            .wedding-bio-text
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer odio urna, maximus bibendum pulvinar eu, molestie eu arcu. Vestibulum elementum magna vel erat sagittis egestas. Vestibulum aliquam, ex eu vulputate porta.