#blog.section.section-blog.with-bg
  .container
    // Section Title
    .title-section-wrapper
      // Title
      h2.title-section Our Blog
      // /title
    // /Section Title
    // Blogroll
    .owl-carousel-wrapper.blogroll-carousel-wrapper
      .owl-carousel.blogroll-carousel.owl-theme.owl-loaded
        // item
        .blog-item
          a(href='single.html')
            figure.blog-item-img.blog-item-img-cover(style=' background-image: url(img/img1-3.jpg)')
          |                             
          .blog-content
            article.post
              h3.heading Getting nervous each day, can&rsquo;t wait for the big day
              |                                     
              p
                | Shabby chic try-hard kombucha intelligentsia, typewriter microdosing +1 iPhone ennui farm-to-table dreamcatcher authentic. Kogi pabst mumblecore, VHS thundercats heirloom poutine yuccie skateboard photo booth food truck readymade microdosing. Ethical slow-carb keffiyeh mlkshk waistcoat 3 wolf moon. Leggings beard photo booth, normcore asymmetrical yr slow-carb cold-pressed. Plaid flexitarian squid, affogato chillwave post-ironic vice. Retro taxidermy cardigan, [&mldr;]
              |                                     
              a.primary-btn(href='single.html') See More
        // /item
        // item
        .blog-item
          a(href='single.html')
            figure.blog-item-img.blog-item-img-cover(style=' background-image: url(img/img2.jpg)')
          |                             
          .blog-content
            article.post
              h3.heading He popped the question
              |                                     
              p
                | Williamsburg keytar +1, taxidermy dreamcatcher scenester chillwave aesthetic meditation cardigan godard. Four loko farm-to-table vegan, vinyl direct trade craft beer synth actually letterpress fingerstache four dollar toast shabby chic hella wayfarers squid. Shabby chic YOLO microdosing brooklyn retro, before they sold out chartreuse quinoa beard forage truffaut sartorial wolf cred. Slow-carb mustache try-hard kitsch small [&mldr;]
              |                                     
              a.primary-btn(href='single.html') See More
        // /item
        // item
        .blog-item
          a(href='single.html')
            figure.blog-item-img
          |                             
          .blog-content
            article.post
              h3.heading Big day is almost here
              |                                     
              p
                | Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus, Marfa eiusmod Pinterest in do umami readymade swag.&nbsp;Selfies iPhone Kickstarter, drinking vinegar jean shorts fixie consequat flexitarian four loko. Meh synth Schlitz, tempor duis [&mldr;]
              |                                     
              a.primary-btn(href='single.html') See More
        // /item
        // item
        .blog-item
          a(href='single.html')
            figure.blog-item-img.blog-item-img-cover(style=' background-image: url(img/img7.jpg)')
          |                             
          .blog-content
            article.post
              h3.heading Planning our trip
              |                                     
              p Photo shoot in Paris 2015 (image post format).
              |                                     
              a.primary-btn(href='single.html') See More
        // /item
        // Item
        .blog-item
          a(href='single.html')
            figure.blog-item-img
          |                             
          .blog-content
            article.post
              h3.heading Post Format: Quote
              |                                     
              p It always seems impossible until its done.
              |                                     
              a.primary-btn(href='single.html') See More
        // /item
        // Item
        .blog-item
          a(href='single.html')
            figure.blog-item-img.blog-item-img-cover(style=' background-image: url(img/img8.jpg)')
          |                             
          .blog-content
            article.post
              h3.heading He made the first step!
              |                                     
              p
                | Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth art party deep v chillwave. Seitan High Life reprehenderit consectetur cupidatat kogi. Et leggings fanny pack, elit bespoke vinyl art party Pitchfork selfies [&mldr;]
              |                                     
              a.primary-btn(href='single.html') See More
        // /item
        // item
        .blog-item
          a(href='single.html')
            figure.blog-item-img
          |                             
          .blog-content
            article.post
              h3.heading Tips for your wedding photos [V&iacute;deo Post Format]
              |                                     
              p
                | ousled truffaut ugh, cornhole meh lumbersexual williamsburg. Gluten-free yr neutra chicharrones sustainable, messenger bag cornhole artisan deep v pour-over wolf microdosing tofu mustache banh mi. Knausgaard ramps drinking vinegar, schlitz roof party pork belly yuccie fap. Ramps intelligentsia small batch bespoke viral bicycle rights. Fingerstache neutra disrupt, banjo scenester art party tofu XOXO etsy.
              |                                     
              a.primary-btn(href='single.html') See More
        // /item
        // item
        .blog-item
          a(href='single.html')
            figure.blog-item-img.blog-item-img-cover(style=' background-image: url(img/img9.jpg)')
          |                             
          .blog-content
            article.post
              h3.heading Wedding photos from the beach
              |                                     
              p
                | 8-bit asymmetrical wolf, squid street art vinyl tofu shoreditch iPhone shabby chic. Shoreditch knausgaard sartorial bushwick twee. Keytar biodiesel migas narwhal, artisan fixie swag microdosing. Try-hard DIY vice, post-ironic church-key poutine cornhole art party flannel swag. Sartorial venmo tofu, salvia etsy mlkshk small batch helvetica. Sustainable flexitarian you probably haven&rsquo;t heard of them chillwave post-ironic, [&mldr;]
              |                                     
              a.primary-btn(href='single.html') See More
        // /item
        // item
        .blog-item
          a(href='single.html')
            figure.blog-item-img.blog-item-img-cover(style=' background-image: url(img/img10.jpg)')
          |                             
          .blog-content
            article.post
              h3.heading The Beauty of the Childhood
              |                                     
              p
                | DIY banjo cardigan farm-to-table. DIY quinoa keffiyeh, meditation craft beer hoodie roof party synth locavore church-key heirloom gentrify. Lo-fi blue bottle everyday carry +1 cardigan, single-origin coffee crucifix four loko swag tacos locavore paleo mumblecore readymade. Ennui blue bottle VHS pickled kogi poutine, everyday carry venmo retro butcher migas kickstarter try-hard hella. Crucifix put a [&mldr;]
              |                                     
              a.primary-btn(href='single.html') See More
        // /item
    // /Blogroll
