#special-events.section.with-dark-bg.section-events(style="background-image: url('img/special-event-bg.jpg');")
  .container
    // Section Title
    .title-section-wrapper
      // Title
      h2.title-section OUR SPECIAL EVENTS
      // /title
      // Text
      p.text-section
        | Consectetur adipiscing elit. Inteiro odio urna, vest&iacute;bulo elementum magna vel erat sagittis
      // /text
    // /Section Title
    // row
    .row
      // col
      .col-sm-6
        // Event Item
        .events-reminder-item
          header
            h3.events-item-heading MAIN CEREMONY
          |                             
          .events-item-content
            ul
              li
                span.events-reminder-item-icon.events-reminder-item-icon-time
                span.events-reminder-time-content 16:00 PM
              |                                     
              li
                span.events-reminder-item-icon.events-reminder-item-icon-date
                span.events-reminder-date-content Saturday 12 - July 2016
              |                                     
              li
                span.events-reminder-item-icon.events-reminder-item-icon-address
                span.events-reminder-date-address Amentel Avenue 343 - NY
        // /Event Item
      // /col
      // col
      .col-sm-6
        // Event Item
        .events-reminder-item
          header
            h3.events-item-heading WEDDING PARTY
          |                             
          .events-item-content
            ul
              li
                span.events-reminder-item-icon.events-reminder-item-icon-time
                span.events-reminder-time-content 16:00 PM
              |                                     
              li
                span.events-reminder-item-icon.events-reminder-item-icon-date
                span.events-reminder-date-content Saturday 12 - July 2016
              |                                     
              li
                span.events-reminder-item-icon.events-reminder-item-icon-address
                span.events-reminder-date-address Amentel Avenue 343 - NY
        // /Event Item
      // /col
    // /row