#special-events.section.with-dark-bg.section-events(style="background-image: url('img/special-event-bg.jpg');")
  .container
    .title-section-wrapper
      h2.title-section THE VENUE
      p.text-section
        //- | Consectetur adipiscing elit. Inteiro odio urna, vest&iacute;bulo elementum magna vel erat sagittis
    .row
      .col-sm-6
        .events-reminder-item
          header
            h3.events-item-heading Marriage Settlement
          |                             
          .events-item-content
            ul
              li.row
                span.col-xs-2.events-reminder-item-icon.events-reminder-item-icon-time
                span.col-xs-10.events-reminder-time-content 08:00 AM
              li.row
                span.col-xs-2.events-reminder-item-icon.events-reminder-item-icon-date
                span.col-xs-10.events-reminder-date-content Sunday 08 - April 2018
              li.row
                span.col-xs-2.events-reminder-item-icon.events-reminder-item-icon-address
                span.col-xs-10.events-reminder-date-address
                  a(href="https://goo.gl/maps/4Db2ruiU1P42", target="_blank") Gedung TK Amalia. Jl. Kaliabang Tengah Gg. Simbang 1 RT.02 RW.04 No. 31 - Bekasi Utara
      .col-sm-6
        .events-reminder-item
          header
            h3.events-item-heading Reception
          |                             
          .events-item-content
            ul
              li.row
                span.col-xs-2.events-reminder-item-icon.events-reminder-item-icon-time
                span.col-xs-10.events-reminder-time-content 11:00 AM
              |                                     
              li.row
                span.col-xs-2.events-reminder-item-icon.events-reminder-item-icon-date
                span.col-xs-10.events-reminder-date-content Sunday 08 - April 2018
              |                                     
              li.row
                span.col-xs-2.events-reminder-item-icon.events-reminder-item-icon-address
                span.col-xs-10.events-reminder-date-address 
                  a(href="https://goo.gl/maps/4Db2ruiU1P42", target="_blank") Gedung TK Amalia. Jl. Kaliabang Tengah Gg. Simbang 1 RT.02 RW.04 No. 31 - Bekasi Utara
        // /Event Item
      // /col
    // /row