#gallery.section.section-gallery
  // Section Title
  .title-section-wrapper
    // Title
    h2.title-section Gallery
    // /title
    // Text
    p.text-section
      | Consectetur adipiscing elit. Inteiro odio urna, vest&iacute;bulo elementum magna vel erat sagittis
    // /text
  // /Section Title
  // Gallery Images
  .gallery-images.row
    .col-lg-3.col-md-4.col-sm-6.no-space
      .bearr-gallery-item
        a(href='img/gallery-img2.jpg')
          img(src='img/gallery-img2.jpg', alt='Gallery Image')
    |             
    .col-lg-3.col-md-4.col-sm-6.no-space
      .bearr-gallery-item
        a(href='img/gallery-img5.jpg')
          img(src='img/gallery-img5.jpg', alt='Gallery Image')
    |             
    .col-lg-3.col-md-4.col-sm-6.no-space
      .bearr-gallery-item
        a(href='img/gallery-img8.jpg')
          img(src='img/gallery-img8.jpg', alt='Gallery Image')
    |             
    .col-lg-3.col-md-4.col-sm-6.no-space
      .bearr-gallery-item
        a(href='img/gallery-img7.jpg')
          img(src='img/gallery-img7.jpg', alt='Gallery Image')
    |             
    .col-lg-3.col-md-4.col-sm-6.no-space
      .bearr-gallery-item
        a(href='img/gallery-img1.jpg')
          img(src='img/gallery-img1.jpg', alt='Gallery Image')
    |             
    .col-lg-3.col-md-4.col-sm-6.no-space
      .bearr-gallery-item
        a(href='img/gallery-img7.jpg')
          img(src='img/gallery-img7.jpg', alt='Gallery Image')
    |             
    .col-lg-3.col-md-4.col-sm-6.no-space
      .bearr-gallery-item
        a(href='img/gallery-img2.jpg')
          img(src='img/gallery-img2.jpg', alt='Gallery Image')
    |             
    .col-lg-3.col-md-4.col-sm-6.no-space
      .bearr-gallery-item
        a(href='img/gallery-img8.jpg')
          img(src='img/gallery-img8.jpg', alt='Gallery Image')
  // /Gallery Images
