#gifts.section.section-gift-list
  .container
    // Section Title
    .title-section-wrapper
      // Title
      h2.title-section Gift List
      // /title
      // Text
      p.text-section
        | Consectetur adipiscing elit. Inteiro odio urna, vest&iacute;bulo elementum magna vel erat sagittis
      // /text
    // /Section Title
    // Gift list
    .owl-carousel-wrapper.clients-carousel-wrapper
      .owl-carousel.clients-carousel.common-carousel.special-carousel.owl-theme.owl-loaded
        // item
        .slide
          .client-item.text-center
            a(href='#', target='_blank')
              img(src='img/client1.png', alt='Client Logo')
        // /item
        // item
        .slide
          .client-item.text-center
            a(href='http://themebear.co/', target='_blank')
              img(src='img/client2.png', alt='Client Logo')
        // /item
        // item
        .slide
          .client-item.text-center
            a(href='#', target='_blank')
              img(src='img/client3.png', alt='Client Logo')
        // /item
        // item
        .slide
          .client-item.text-center
            a(href='#', target='_blank')
              img(src='img/client4.png', alt='Client Logo')
        // /item
        // item
        .slide
          .client-item.text-center
            a(href='#', target='_blank')
              img(src='img/client1.png', alt='Client Logo')
        // /item
        // item
        .slide
          .client-item.text-center
            a(href='http://themebear.co/', target='_blank')
              img(src='img/client2.png', alt='Client Logo')
        // /item
        // item
        .slide
          .client-item.text-center
            a(href='#', target='_blank')
              img(src='img/client3.png', alt='Client Logo')
        // /item
        // item
        .slide
          .client-item.text-center
            a(href='#', target='_blank')
              img(src='img/client4.png', alt='Client Logo')
        // /item
    // /Gift list
