#story.section.section-our-story
  .container
    .title-section-wrapper
      h2.title-section Our Story
      p.text-section
        | Love is what makes two people sit in the middle of a bench when there is plenty of room at both ends - Unknown
    .row.story-wrap
      .col-sm-6(data-match-height='StoryItem')
        .story-item
          .story-item-img
            img.responsive-image(src='img/assets/couple3.png', alt='')
          .story-item-content
            h2.story-item-title 
              | First Meet
              span.visible-xs-inline (Aug 2008)
            .story-text
              p Our first meet was in August 2008, at that time we just a friend in high school, we love to play, learn and going somewhere just to enjoy our life. 
      .hidden-xs.col-sm-6.story-date-wrap(data-match-height='StoryItem')
        .story-date
          .story-time August, 2008
    .row.story-wrap
      // /Item description
      .col-sm-6.col-sm-push-6(data-match-height='StoryItem')
        .story-item.story-item-alt
          // Item Image
          .story-item-img
            img.responsive-image(src='img/assets/couple4.png', alt='')
          // /Item image
          // Item Content
          .story-item-content
            h2.story-item-title 
              | Relationship
              span.visible-xs-inline (Oct 25 2008)
            .story-text
              p After our first meet we ended up dating, start to care more about each other. Do the things we love and begin to support our goals.
      // /Item description
      // item date
      .hidden-xs.col-sm-6.story-date-wrap.story-date-wrap-alt.col-sm-pull-6(data-match-height='StoryItem')
        .story-date
          .story-time October 25, 2008
      // /item date
    // /Timeline Item
    // Timeline item
    .row.story-wrap
      // Item description
      .col-sm-6(data-match-height='StoryItem')
        .story-item
          // Image
          .story-item-img
            img.responsive-image(src='img/assets/couple1.png', alt='')
          // /image
          // content
          .story-item-content
            h2.story-item-title
              | Long Distance Relationship
              span.visible-xs-inline (Jun 18 2009)
            .story-text
              p After graduated from high school, me (Aditya) continuing my education in Bandung city. Maintaining the relationship even harder since we meet infrequently.
          // /content
      // / Item description
      // Item Date
      .hidden-xs.col-sm-6.story-date-wrap(data-match-height='StoryItem')
        .story-date
          .story-time June 18, 2009
      // /item date
    // /Timeline item
    .row.story-wrap
      // /Item description
      .col-sm-6.col-sm-push-6(data-match-height='StoryItem')
        .story-item.story-item-alt
          // Item Image
          .story-item-img
            img.responsive-image(src='img/assets/couple2.png', alt='')
          // /Item image
          // Item Content
          .story-item-content
            h2.story-item-title
              | Go Back Together
              span.visible-xs-inline (Sep 2013)           
            .story-text
              p After almost 5 years separated between Bekasi - Bandung with a lot of problems and difficulties, eventually we together again. After that, we realize that we more know each other from the past stories while we separated and getting busy with our activities.
      // /Item description
      // item date
      .hidden-xs.col-sm-6.story-date-wrap.story-date-wrap-alt.col-sm-pull-6(data-match-height='StoryItem')
        .story-date
          .story-time September 2013
    .row.story-wrap
      // Item description
      .col-sm-6(data-match-height='StoryItem')
        .story-item
          // Image
          .story-item-img
            img.responsive-image(src='img/assets/couple6.png', alt='')
          // /image
          // content
          .story-item-content
            h2.story-item-title
              | Engagement
              span.visible-xs-inline (Oct 28 2017)
            .story-text
              p We are so happy that we are engaged. One important mission has been accomplished.
          // /content
      // / Item description
      // Item Date
      .hidden-xs.col-sm-6.story-date-wrap(data-match-height='StoryItem')
        .story-date
          .story-time October 28, 2017
      // /item date
    // /Timeline item
    .row.story-wrap
      // /Item description
      .col-sm-6.col-sm-push-6(data-match-height='StoryItem')
        .story-item.story-item-alt
          // Item Image
          .story-item-img
            img.responsive-image(src='img/assets/couple5.png', alt='')
          // /Item image
          // Item Content
          .story-item-content
            h2.story-item-title
              | Getting Married
              span.visible-xs-inline (Apr 8 2018)               
            .story-text
              p We believe nothing could beat us when we face it together, and journey about our love will not stop here.
      // /Item description
      // item date
      .hidden-xs.col-sm-6.story-date-wrap.story-date-wrap-alt.col-sm-pull-6(data-match-height='StoryItem')
        .story-date
          .story-time April 08, 2018
