#story.section.section-our-story
  .container
    // Section Title
    .title-section-wrapper
      // Title
      h2.title-section Cerita Kami
      // /title
      // Text
      p.text-section
        | Jika kamu tidak menyadari sejak kapan kamu bersamanya, berbagi dengannya dan hingga esok pun kelabu tanpanya, jawabannya sederhana, dialah cinta sejatimu yang sebenarnya.
      // /text
    // /Section Title
    // Timeline item
    .row.story-wrap
      // Item description
      .col-sm-6(data-match-height='StoryItem')
        .story-item
          // Image
          .story-item-img
            img.responsive-image(src='img/story-img1.jpg', alt='')
          // /image
          // content
          .story-item-content
            h2.story-item-title PERTAMA BERTEMU
            |                                 
            .story-text
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus convallis diam at iaculis pharetra. Nulla facilisi. Sed aliquet aliquam dolor ut ultricies. Cras elit orci, egestas sit amet nisi sed, euismod efficitur lacus. Proin dictum enim nunc, sit amet rhoncus nisl accumsan sit amet. Suspendisse potenti. Donec erat augue, scelerisque ac justo dictum, viverra aliquam est.
          // /content
      // / Item description
      // Item Date
      .col-sm-6.story-date-wrap(data-match-height='StoryItem')
        .story-date
          .story-time May 19, 2014
      // /item date
    // /Timeline item
    // Timeline Item
    .row.story-wrap
      // /Item description
      .col-sm-6.col-sm-push-6(data-match-height='StoryItem')
        .story-item.story-item-alt
          // Item Image
          .story-item-img
            img.responsive-image(src='img/story-img2.jpg', alt='')
          // /Item image
          // Item Content
          .story-item-content
            h2.story-item-title MENJALIN HUBUNGAN
            |                                 
            .story-text
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus convallis diam at iaculis pharetra. Nulla facilisi. Sed aliquet aliquam dolor ut ultricies. Cras elit orci, egestas sit amet nisi sed, euismod efficitur lacus. Proin dictum enim nunc, sit amet rhoncus nisl accumsan sit amet. Suspendisse potenti. Donec erat augue, scelerisque ac justo dictum, viverra aliquam est.
          // /Item Content
      // /Item description
      // item date
      .col-sm-6.story-date-wrap.story-date-wrap-alt.col-sm-pull-6(data-match-height='StoryItem')
        .story-date
          .story-time February 02, 2015
      // /item date
    // /Timeline Item
    // Timeline item
    .row.story-wrap
      // Item description
      .col-sm-6(data-match-height='StoryItem')
        .story-item
          // Image
          .story-item-img
            img.responsive-image(src='img/story-img3.jpg', alt='')
          // /image
          // content
          .story-item-content
            h2.story-item-title LONG DISTANCES
            |                                 
            .story-text
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus convallis diam at iaculis pharetra. Nulla facilisi. Sed aliquet aliquam dolor ut ultricies. Cras elit orci, egestas sit amet nisi sed, euismod efficitur lacus. Proin dictum enim nunc, sit amet rhoncus nisl accumsan sit amet. Suspendisse potenti. Donec erat augue, scelerisque ac justo dictum, viverra aliquam est.
          // /content
      // / Item description
      // Item Date
      .col-sm-6.story-date-wrap(data-match-height='StoryItem')
        .story-date
          .story-time August 30, 2016
      // /item date
    // /Timeline item
    .row.story-wrap
      // /Item description
      .col-sm-6.col-sm-push-6(data-match-height='StoryItem')
        .story-item.story-item-alt
          // Item Image
          .story-item-img
            img.responsive-image(src='img/story-img2.jpg', alt='')
          // /Item image
          // Item Content
          .story-item-content
            h2.story-item-title PENDEWASAAN DIRI
            |                                 
            .story-text
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus convallis diam at iaculis pharetra. Nulla facilisi. Sed aliquet aliquam dolor ut ultricies. Cras elit orci, egestas sit amet nisi sed, euismod efficitur lacus. Proin dictum enim nunc, sit amet rhoncus nisl accumsan sit amet. Suspendisse potenti. Donec erat augue, scelerisque ac justo dictum, viverra aliquam est.
          // /Item Content
      // /Item description
      // item date
      .col-sm-6.story-date-wrap.story-date-wrap-alt.col-sm-pull-6(data-match-height='StoryItem')
        .story-date
          .story-time February 02, 2015
