#story.section.section-our-story
  .container
    .title-section-wrapper
      h2.title-section Our Story
      p.text-section
        | Love is what makes two people sit in the middle of a bench when there is plenty of room at both ends - Unknown
    .row.story-wrap
      .col-sm-6(data-match-height='StoryItem')
        .story-item
          .story-item-img
            img.responsive-image(src='img/assets/couple3.png', alt='')
          .story-item-content
            h2.story-item-title 
              | First Meet
              span.visible-xs-inline (Aug 2008)
            .story-text
              p Our first meet was in August 2008, not as a couple but as a friend because we had the same interest in learning something. 
      .hidden-xs.col-sm-6.story-date-wrap(data-match-height='StoryItem')
        .story-date
          .story-time August, 2008
    .row.story-wrap
      // /Item description
      .col-sm-6.col-sm-push-6(data-match-height='StoryItem')
        .story-item.story-item-alt
          // Item Image
          .story-item-img
            img.responsive-image(src='img/assets/couple4.png', alt='')
          // /Item image
          // Item Content
          .story-item-content
            h2.story-item-title 
              | Relationship
              span.visible-xs-inline (25 Oct 2008)
            .story-text
              p After our first meet, we felt joy and happiness. We know that we are not perfect in person, but when we laugh together, caring each other and starting to criticize something we found a supportive life thereafter.
      // /Item description
      // item date
      .hidden-xs.col-sm-6.story-date-wrap.story-date-wrap-alt.col-sm-pull-6(data-match-height='StoryItem')
        .story-date
          .story-time October 25, 2008
      // /item date
    // /Timeline Item
    // Timeline item
    .row.story-wrap
      // Item description
      .col-sm-6(data-match-height='StoryItem')
        .story-item
          // Image
          .story-item-img
            img.responsive-image(src='img/assets/couple1.png', alt='')
          // /image
          // content
          .story-item-content
            h2.story-item-title
              | Long Distance Relationship
              span.visible-xs-inline (18 Jun 2009)
            .story-text
              p There is a lot of stories we face. Then after graduated from high school, me (Aditya) continuing my education in Bandung city. Maintaining the relationship even harder since we meet infrequently.
          // /content
      // / Item description
      // Item Date
      .hidden-xs.col-sm-6.story-date-wrap(data-match-height='StoryItem')
        .story-date
          .story-time June 18, 2009
      // /item date
    // /Timeline item
    .row.story-wrap
      // /Item description
      .col-sm-6.col-sm-push-6(data-match-height='StoryItem')
        .story-item.story-item-alt
          // Item Image
          .story-item-img
            img.responsive-image(src='img/assets/couple2.png', alt='')
          // /Item image
          // Item Content
          .story-item-content
            h2.story-item-title
              | Go Back Together
              span.visible-xs-inline (Sep 2013)           
            .story-text
              p After almost 5 years separated between Bekasi - Bandung with a lot of problems and difficulties, eventually we together again. After that, we realize that we more know each other from the past stories while we separated and getting busy with our activities.
      // /Item description
      // item date
      .hidden-xs.col-sm-6.story-date-wrap.story-date-wrap-alt.col-sm-pull-6(data-match-height='StoryItem')
        .story-date
          .story-time April 08, 2018
    .row.story-wrap
      // Item description
      .col-sm-6(data-match-height='StoryItem')
        .story-item
          // Image
          .story-item-img
            img.responsive-image(src='img/assets/couple6.png', alt='')
          // /image
          // content
          .story-item-content
            h2.story-item-title
              | Being a Good Partner
              span.visible-xs-inline (Jan 2016)
            .story-text
              p We are getting closer and closer. Often to share our thought, even with a different field of interest. So when Amelia share her interest with finance and me (Aditya) with Computer Science, we know our life cannot be separated again.
          // /content
      // / Item description
      // Item Date
      .hidden-xs.col-sm-6.story-date-wrap(data-match-height='StoryItem')
        .story-date
          .story-time June 18, 2009
      // /item date
    // /Timeline item
    .row.story-wrap
      // /Item description
      .col-sm-6.col-sm-push-6(data-match-height='StoryItem')
        .story-item.story-item-alt
          // Item Image
          .story-item-img
            img.responsive-image(src='img/assets/couple5.png', alt='')
          // /Item image
          // Item Content
          .story-item-content
            h2.story-item-title
              | Getting Married
              span.visible-xs-inline (8 Apr 2018)               
            .story-text
              p We believe nothing could beat us when we face it together, and journey about our love will not stop here because it is so lovely to live your life with someone you love.
      // /Item description
      // item date
      .hidden-xs.col-sm-6.story-date-wrap.story-date-wrap-alt.col-sm-pull-6(data-match-height='StoryItem')
        .story-date
          .story-time April 08, 2018
