#story.section.section-our-story
  .container
    // Section Title
    .title-section-wrapper
      // Title
      h2.title-section Our Story
      // /title
      // Text
      p.text-section
        | Love is what makes two people sit in the middle of a bench when there is plenty of room at both ends - Unknown
      // /text
    // /Section Title
    // Timeline item
    .row.story-wrap
      // Item description
      .col-sm-6(data-match-height='StoryItem')
        .story-item
          // Image
          .story-item-img
            img.responsive-image(src='img/assets/couple3.png', alt='')
          // /image
          // content
          .story-item-content
            h2.story-item-title 
              | First Meet
              span.visible-xs-inline (Aug 2008)
            .story-text
              p Our first meet was in August 2008, not as a couple but as a friend because we had the same interest in learning something. 
          // /content
      // / Item description
      // Item Date
      .hidden-xs.col-sm-6.story-date-wrap(data-match-height='StoryItem')
        .story-date
          .story-time August, 2008
      // /item date
    // /Timeline item
    // Timeline Item
    .row.story-wrap
      // /Item description
      .col-sm-6.col-sm-push-6(data-match-height='StoryItem')
        .story-item.story-item-alt
          // Item Image
          .story-item-img
            img.responsive-image(src='img/assets/couple4.png', alt='')
          // /Item image
          // Item Content
          .story-item-content
            h2.story-item-title 
              | Relationship
              span.visible-xs-inline (25 Oct 2008)
            .story-text
              p After our first meet, we found joy, love, and happiness. Since then we support each other to reach our goals in life.
          // /Item Content
      // /Item description
      // item date
      .hidden-xs.col-sm-6.story-date-wrap.story-date-wrap-alt.col-sm-pull-6(data-match-height='StoryItem')
        .story-date
          .story-time October 25, 2008
      // /item date
    // /Timeline Item
    // Timeline item
    .row.story-wrap
      // Item description
      .col-sm-6(data-match-height='StoryItem')
        .story-item
          // Image
          .story-item-img
            img.responsive-image(src='img/assets/couple1.png', alt='')
          // /image
          // content
          .story-item-content
            h2.story-item-title
              | Long Distance Relationship
              span.visible-xs-inline (18 Jun 2009)
            .story-text
              p There is a lot of stories we face. Then after graduated from high school, me (Aditya) continuing my education in Bandung city. Maintaining the relationship even harder since we meet infrequently since then.
          // /content
      // / Item description
      // Item Date
      .hidden-xs.col-sm-6.story-date-wrap(data-match-height='StoryItem')
        .story-date
          .story-time June 18, 2009
      // /item date
    // /Timeline item
    .row.story-wrap
      // /Item description
      .col-sm-6.col-sm-push-6(data-match-height='StoryItem')
        .story-item.story-item-alt
          // Item Image
          .story-item-img
            img.responsive-image(src='img/assets/couple5.png', alt='')
          // /Item image
          // Item Content
          .story-item-content
            h2.story-item-title
              | Reaching Our Dream
              span.visible-xs-inline (8 Apr 2018)               
            .story-text
              p We believe nothing could beat us when we face it together, and journey about our love will not stop here because it is so lovely to live your life with someone you love.
      // /Item description
      // item date
      .hidden-xs.col-sm-6.story-date-wrap.story-date-wrap-alt.col-sm-pull-6(data-match-height='StoryItem')
        .story-date
          .story-time April 08, 2018
