#rsvp-list.hidden.section.section-contact.bg-cover.with-dark-bg
  .container
    .tab-content

script#rsvp-template(type="text/template")
  #comments-logout.tab-pane.active
    ul.media-list
      li.media
        span.hidden-xs.pull-left
          img.media-object.img-circle(src='https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg', alt='profile')
        .media-body
          .well.well-lg
            h4.media-heading.text-uppercase.reviews.c-username Marco             
            ul.media-date.text-uppercase.reviews.list-inline
              li.c-date 22 June 2017
            p.media-comment
              | Great snippet! Thanks for sharing.