#slideshow.section-slideshow
  .owl-carousel.main-carousel.owl-theme.owl-loading
    .featured-slide.slide.bg-cover.viewport(style="background-image: url('/img/home-banner-slide1.jpg');")
      .slide-inner
        .slide-icon.active
        h1.slide-title.active Amelia &amp; Aditya
        p.slide-text.active Momen bahagia adalah ketika kita dapat menghabiskan waktu bersama orang yang terkasih