#slideshow.section-slideshow
  .owl-carousel.main-carousel.owl-theme.owl-loading
    .featured-slide.slide.bg-cover.viewport(style="background-image: url('/img/cover.jpg');")
      .slide-inner
        .slide-icon.active
        h1.slide-title.active You Are Invited!
        p.slide-text.active “Love is composed of a single soul inhabiting two bodies.” – Aristotle