
.section.section-testimonials-wrapper(style="background-image: url('/img/testimonials-bg.jpg');")
  .container
    // Testimonials Carousel
    .section-testimonials.text-light
      .owl-carousel.testimonial-carousel.common-carousel.owl-theme
        // Testimonial Item
        .slide
          .testimonial-item
            blockquote
              // TEstimonial Text
              p test test
              // /Testimonial Text
              // Testimonial Author
              footer
                cite Lauren Yotta
              // /Testimonial Author
        // / Testimonial Item
        // Testimonial Item
        .slide
          .testimonial-item
            blockquote
              // TEstimonial Text
              p Test test
              // /Testimonial Text
              // Testimonial Author
              footer
                cite Karen Aiello
              // /Testimonial Author
        // / Testimonial Item
    // /Testimonials Carousel