extends layout

append preloads
  link(rel='preload', href='/vendor/owl.carousel/dist/assets/owl.carousel.min.css', as='style')
  link(rel='preload', href='/vendor/owl.carousel/dist/assets/owl.theme.default.min.css', as='style')
  link(rel='preload', href='/vendor/simplelightbox/dist/simplelightbox.min.css', as='style')
  link(rel='preload', href='/css/animate.css', as='style')
  link(rel='preload', href='/vendor/jquery-validation/dist/jquery.validate.min.js', as='script')
  link(rel='preload', href='/vendor/owl.carousel/dist/owl.carousel.min.js', as='script')
  link(rel='preload', href='/vendor/simplelightbox/dist/simple-lightbox.min.js', as='script')
  link(rel='preload', href='/vendor/howler.js/dist/howler.core.min.js', as='script')

append styles
  link(href='/vendor/owl.carousel/dist/assets/owl.carousel.min.css', rel='stylesheet')
  link(href='/vendor/owl.carousel/dist/assets/owl.theme.default.min.css', rel='stylesheet')
  link(href='/vendor/simplelightbox/dist/simplelightbox.min.css', rel='stylesheet')
  link(href='/css/animate.css', rel='stylesheet')
  

append scripts
  script(src='/vendor/jquery-validation/dist/jquery.validate.min.js')
  script(src='/vendor/owl.carousel/dist/owl.carousel.min.js')
  script(src='/vendor/simplelightbox/dist/simple-lightbox.min.js')
  script(src='/vendor/howler.js/dist/howler.core.min.js')
 
block content
  include ./includes/loader
  #content.site-content
    #primary
      include ./includes/home/slideshow
      include ./includes/home/bio
      //- include ./includes/home/testimonials
      include ./includes/home/ourstory
      include ./includes/home/events
      //- include ./includes/home/gallery
      //- include ./includes/home/gifts
      //- include ./includes/home/blog
      #story.section.section-our-story
        .container-fluid
          .title-section-wrapper
            h2.title-section MAPS
          .row
            include ./includes/maps
      include ./includes/home/rsvp
      include ./includes/home/rsvp_list

  include ./includes/music-button    
  include ./includes/scrolltop-button
  
  include ./includes/form/sending
  include ./includes/form/success
  include ./includes/form/error