extends layout

block css
  link(href="/vendors/fullpage.js/dist/jquery.fullpage.min.css", rel="stylesheet")
  link(rel='stylesheet', href='/stylesheets/style.css')

block js
  script(src='/vendors/jquery/dist/jquery.min.js')
  script(src='/vendors/fullpage.js/dist/jquery.fullpage.min.js')
