/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#canvas {
  background: #282828;
}
#container {
  position: relative;
  /* max-width: 1280px;
  margin-left: auto;
  margin-right: auto; */
}
.scene {
  position: relative;
  padding-top: 1px;
  margin-top: -1px;
  background-color: #eeeeee;
  border-bottom: 1px solid #dddddd; 
}
.component {
  position: relative;
}
.parallax-background {
  position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Fonts */
.font-always-in-my-heart {
  font-family: 'Always In My Heart';
  font-weight: 500;
  font-style: normal;
}

.font-aday-in-autumn{
  font-family: 'ADayInAutumn';
  font-weight: 500;
  font-style: normal;
}

.font-appleberry {
  font-family: 'appleberry';
  font-weight: normal;
  font-style: normal;
}

.font-great-vibes {
  font-family: 'Great Vibes';
  font-weight: normal;
  font-style: normal;
}

#scene-content .abs {
  position: absolute;
}

/* Scene One */
#scene-one h1.title {
  font-size: 20vh;
  color: #c00047;
  left: 25%;
  top: 30%;
  background: rgba(255,255,255, 0.5);
  padding: 20px;
  padding-right: 90px;
}

#scene-one h2.subtitle {
  opacity: 1;
  font-size: 5vh;
  color: #ffffff;
  left: 45%;
  top: -10%;
  background: rgba(0,0,0, 0.8);
  padding: 20px;
  padding-right: 20px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

@-webkit-keyframes animate-rotation {
  0%   { 
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50%  {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes animate-rotation {
  0%   { 
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50%  {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}