#scene-one.scene
  #wedding-background.parallax-background
  #logo.component
    | Just A LOGO
  h1#text-welcome.component Aditya &nbsp; Amelia
  p#text-subtitle.component Tuhan mempertemukan insan ....
  #menu-bar.component
    ul
      li
        a Menu 1
      li
        a Menu 2
      li
        a Menu 3
      li
        a Menu 4