extends ../layout-animate

block content
  #canvas
    #container
      include ../scene/scene-one
      //- include ../scene/scene-two
      //- include ../scene/scene-three
      //- include ../scene/scene-four